
$md-custom-mcgpalette: (
    50 : #e3f3f3,
    100 : #b9e1e2,
    200 : #8bcdce,
    300 : #5cb8ba,
    400 : #39a9ac,
    500 : #169a9d,
    600 : #139295,
    700 : #10888b,
    800 : #0c7e81,
    900 : #066c6f,
    A100 : #9ffcff,
    A200 : #6cfaff,
    A400 : #39f9ff,
    A700 : #20f8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

